{% extends 'model_base_full.html' %}

{% load static %}

{% block title %} 403 Acesso negado {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="" alt="" class="img-fluid mb-4"  width="150" height="150">
							<h4 class="mb-3 f-w-400">
                                Erro 403
                            </h4>
                            <p class="mb-2 text-muted">
                                Acesso negado.
                            </p>

                            <br />
                            <form action="/">
                                <button class="btn btn-block btn-primary mb-4">Página inicial</button>
                            </form>

                            <p class="mb-2 text-muted">
                                Se o problema persistir, entre em contato com o <a href="#" class="f-w-400">suporte</a>.
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
