{% extends 'system/model_system.html' %}

{% load static %}


{% block title %} Details {{object.name}} {% endblock %}

{% block stylesheets_extra %}
{% endblock stylesheets_extra %}

{% block body_system %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- Menu Reversivo start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="text-5xl font-extrabold dark:text-white">{{object.name}} <small
                                    class="ms-2 font-semibold text-gray-500 dark:text-gray-400">{{object.city}} -
                                {{object.country}}</small></h3>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'circuit_list' %}"><i
                                    class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item">Circuit list</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Reversivo end -->

        {% endblock body_system %}

        Specific Page JS goes HERE
        {% block script_system %}
        <script> circuit={{object.circuit.id}} </script>
        <script src="{% static 'circuit/circuit_detail.js' %}"></script>
        {% endblock script_system %}