{% extends 'site/model_site.html' %}

{% load static %}


{% block title %}{% endblock %}


{% block body_site %}
    {% include 'main/spinner.html' %}
    {% include 'main/topbar.html' %}
    {% include 'main/navbar.html' %}
    {% include 'main/carousel.html' %}
    {% include 'main/service.html' %}
    {% include 'main/about.html' %}
    {% include 'main/fact.html' %}
    {% include 'main/services.html' %}
    {% include 'main/booking.html' %}
    {% include 'main/team.html' %}
    {% include 'main/testimonial.html' %}
    {% include 'main/footer.html' %}
{% endblock body_site %}