<!DOCTYPE html>
{%load static%}
<div class="carousel-item active">
    <img class="w-100" src="{% static 'site/img/mclaren1.jpg' %}" alt="Image">
    <div class="carousel-caption d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-start">
                <div class="col-12 text-center text-lg-start">
                    <h6 class="text-white text-uppercase mb-3 animated slideInDown">red flag!😅</h6>
                    <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">I'm working on this page! Come back soon!<img
                            class="giphy-gif-img giphy-img-loaded"
                            src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeXVqbmcyMnBibGYyN2IyN256YTFqOXdqcGVzNjlma3hwNGl6dXBubCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/AEDD6xjlOxNMgFsUmA/giphy.gif"
                            style="background:rgba(0,0,0,0)" width="25%" height="25%" alt="Driving Formula 1 Sticker">
                    </h1>
                </div>
                
            </div>
        </div>
    </div>
