{% extends "model_base_full.html" %}

{% load static %}

{% block title %} Cadastro de Usuário {% endblock %}

{% block content %}


	<!-- [ auth-signup ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="{% static '/images/k2/k2-login.webp' %}" alt="" class="img-fluid mb-4" width="100">
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									Informe-nos seu e-mail para que possamos prosseguir com a recuperação de senha
								{% endif %} 
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>		
							
							<!-- Hide the form on success -->
							{% if not success %}
								<form role="form" method="post" action="">

									{% csrf_token %}  
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-mail"></i></span>
										</div>
										{{ form.email }}
									</div>
									<span class="text-error">{{ form.email.errors }}</span>					
							{% endif %}
								<button type="submit" name="register" class="btn btn-primary btn-block mb-4">Enviar</button>							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="{% static 'js/waves.min.js' %}"></script>

{% endblock javascripts %} 
