{% extends 'system/model_system.html' %}

{% load static %}

{% block title %} Alterar Senha {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_system %}

<!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- Menu Reversivo start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Senha do Usuário </h5>
                            </div>
                            <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item">Alterar senha</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Reversivo end -->
            <!-- Menu Corpo start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Olá {{ request.user.first_name }}!</h4>
                            <hr>
                        </div>
                        <div class="card-body">
<!--                            <h5>Olá {{ request.user.first_name }}!</h5>-->
<!--                            <hr>-->
                            <form role="form" action="" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-6 mb-3">
                                        <label>Senha antiga:</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                            </div>
                                            {{form_senha.old_password}}
                                        </div>
                                        <span class="text-error">{{form_senha.old_password.errors}}</span>

                                        <label>Nova senha:</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                            </div>
                                            {{form_senha.new_password1}}
                                        </div>
                                        <span class="text-error">{{form_senha.new_password1.errors}}</span>

                                        <label>Confirmar senha:</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                            </div>
                                            {{form_senha.new_password2}}
                                        </div>
                                        <span class="text-error">{{form_senha.new_password2.errors}}</span>

                                    </div>
                                </div>
                                <button class="btn  btn-primary" type="submit">
                                    Salvar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Corpo end -->
        </div>
    </section>

<!-- [ Main Content ] end -->

{% endblock body_system %}
