{% extends 'system/model_system.html' %}

{% load static %}

{% block title %} Países {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_system %}
    <section class="pcoded-main-container">
            <div class="pcoded-content">
                {% include 'message.html' %}
                <!-- Menu Reversivo start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Países</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'inicio' %}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item">Lista de Países</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu Reversivo end -->

                <!-- Menu Corpo start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Países Cadastrados</h5>
                                <a href="{% url 'register_country' %}" class="btn btn-primary btn-sm float-right">Adicionar País</a>
                            </div>

                            <div class="card-body">
                                <form class="form-inline" method="GET">
                                    <div class="form-group">
                                        <label for="filter_country">Filtro</label>
                                        {{ filter.form }}
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" id="filter-button" class="btn btn-block btn-primary mb-4">Filtrar</button>
                                    </div>
                                </form>
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="tabela-listar-country">
                                         <thead>
                                            <tr>
                                                <th>Descrição</th>
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                               {% for country in object_list %}
                                                <tr>
                                                    <td>{{ country.description }}</td>
                                                    <td>
                                                        <a href="{% url 'edit_country' country.id %}">
                                                            <button type="button" class="btn btn-icon btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                            </button>
                                                        </a>
                                                        <a href="{% url 'delete_country'  country.id %}">
                                                            <button type="button" class="btn btn-icon btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="2" align="center">Nenhum País Cadastrado</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% include 'system/pagination.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Corpo end -->
        </div>
    </section>
{% endblock body_system %}

<!-- Specific Page JS goes HERE  -->
{% block script_base %}
{% endblock script_base %}