{% load static %}


<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="col-md-4 item">
                <h3>Serviços</h3>
                <ul>

                </ul>
            </div>
            <div class="col-md-4 item">
                <h3>Sobre</h3>
                <ul>

                </ul>
            </div>
            <div class="col-md-4 item text">
                <h3></h3>
                <p></p>
                    <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.0887710084851!2d-40.36122826116425!3d-20.331540802091837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb8194d42e85b03%3A0xd1f7bdfa303c3e63!2sCPID%20-%20Centro%20de%20Pesquisa%2C%20Inova%C3%A7%C3%A3o%20e%20Desenvolvimento!5e0!3m2!1spt-BR!2sbr!4v1626448821356!5m2!1spt-BR!2sbr"
                                    width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            <div class="col item social">
                <a href="https://www.linkedin.com/"   target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/"   target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <p class="copyright">2024</p>
    </div>
</footer>
