{% extends 'model_base.html' %}

{% load static %}

{% block title %} Equipe {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_system %}
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Nossa equipe</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item">Equipe</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-centralizada">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Eduardo.png' %}">
                                </div>
                                <h3 class="title">Eduardo Amorim Benincá</h3>
                                <span class="post">Físico</span>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/eduardo-beninc%C3%A1-40a07bb6/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Harrison.png' %}">
                                </div>
                                <h3 class="title">Harrison Marciano</h3>
                                <span class="post">Engenheiro Elétrico</span>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/harrison-marciano-6447a3b6/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Joao.png' %}">
                                </div>
                                <h3 class="title">João Paulo Fávero</h3>
                                <span class="post">Engenheiro Elétrico</span>
                                <ul class="social">
                                    <li><a href="#" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Manuel.png' %}">
                                </div>
                                <h3 class="title">Manuel Sanchez</h3>
                                <span class="post">Engenheiro Eletrônico e Dr. Engenharia Elétrica </span>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/manuel-r-alfonso-s/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-centralizada">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Pablo.png' %}">
                                </div>
                                <h3 class="title">Pablo Marciano</h3>
                                <span class="post">Me. Engenheiro Elétrico</span>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/pablomarciano/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Ricardo.png' %}">
                                </div>
                                <h3 class="title">Ricardo Natale</h3>
                                <span class="post">Engenheiro da Computação</span>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/ricardo-natale-5798b113a/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="#" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body ">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'images/team/Yrui.png' %}">
                                </div>
                                <h3 class="title">Yruí Giovan Neris</h3>
                                <span class="post">Cientista da Computação</span>
                                <ul class="social">
                                   <li><a href="https://www.linkedin.com/in/yruigneris/" class="fab fa-linkedin"  target="_blank" rel="noopener noreferrer"></a></li>
                                    <li><a href="http://lattes.cnpq.br/2613310044827573" class="ai ai-lattes" target="_blank" rel="noopener noreferrer"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body_system %}